<% content_for :page_title, "About" %>

<main class="row static-text">
  <div class="col-xs-12">
    <p>My name is Efstathios Stivaros and I'm a Ruby on Rails developer. This blog, while inactive, was built on Rails with a helping hand from Bootstrap and jQuery.</p>
    <p>I decided to use a clean, minimalistic aesthetic and set about writing the CSS myself. While Bootstrap is active, it is used to provide structure more than style.</p>
    <p>jQuery is used for two major functions:</p>
    <ol>
      <li>To enable the navigation to scroll for a bit before sticking to the top of the page.</li>
      <li>To automatically detect and resize the textarea as an article is typed.</li>
    </ol>
    <p>You can find the code for this blog on <%= link_to "Github", "https://github.com/Stivaros/CFBlog" %>, hopefully it will provide you with some inspiration for your own projects.</p>
  </div>
</main>