<% content_for :page_title, "Contact" %>

<main class="row static-text">
  <div class="col-xs-12">
    <p>Thanks for taking an interest!</p>
    <p>The best way to contact me is via <a href='mai&#108;&#116;o&#58;e%&#54;6&#115;&#37;74&#97;t%&#54;&#56;i&#37;6Fssti&#118;ar%&#54;F&#115;&#64;g%&#54;&#68;%&#54;1il%&#50;Ec&#111;m'>email</a>, I aim to respond to all emails within 48 hours.</p>
    <p>You can also contact me on <%= link_to "Twitter", "https://twitter.com/eStivaros" %>, I don't have much to say but I check almost daily.</p>
    <p>For examples of my work and other professional enquiries, you can find me on <%= link_to "LinkedIn", "https://www.linkedin.com/in/efstathios-stivaros-032821121/" %> and <%= link_to "GitHub", "https://github.com/Stivaros" %>.</p>
    <p>I look forward to hearing from you.</p>
  </div>
</main>